:root {
  --title: normal normal 600 48px/65px Open Sans;
  --label-sm: normal normal normal 14px/19px Open Sans;
  --label-sm-bold: normal normal bold 14px/19px Open Sans;
  --label-md-regular: normal normal normal 16px/22px Open Sans;
  --label-md-bold: normal normal bold 16px/22px Open Sans;
  --label-lg-bold: normal normal bold 20px/27px Open Sans;
}


